name: Deploy Job
run-name: Deploy ${{ github.event.workflow_run.head_branch }} by @${{ github.actor }}

on:
  push:
    branches:
      - main

permissions:
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: authenticate to google cloud
        id: "auth"
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/522856288592/locations/global/workloadIdentityPools/clingen-actions-pool/providers/clingen-github-actions
          service_account: clinvar-ftp-watcher-deployment@clingen-dev.iam.gserviceaccount.com

      - name: setup gcloud sdk
        uses: google-github-actions/setup-gcloud@v2

      - name: set vars for clinvar-ftp-watcher build
        run: |
          export commit=${{ github.event.workflow_run.head_sha }}
          echo "commit=$commit" >> $GITHUB_ENV

      - name: build clinvar-ftp-watcher image
        run: |
          bash misc/bin/build.sh

      - name: set env vars vcv
        run: |
          export commit=${{ github.event.workflow_run.head_sha }}
          echo "commit=$commit" >> $GITHUB_ENV
          echo "instance=clinvar-vcv-ftp-watcher" >> $GITHUB_ENV

      - name: deploy vcv
        run: |
          bash misc/bin/deploy-job.sh

      - name: set env vars rcv
        run: |
          export commit=${{ github.event.workflow_run.head_sha }}
          echo "commit=$commit" >> $GITHUB_ENV
          echo "instance=clinvar-rcv-ftp-watcher" >> $GITHUB_ENV

      - name: deploy rcv
        run: |
          bash misc/bin/deploy-job.sh

      - name: set env vars vcv new
        run: |
          export commit=${{ github.event.workflow_run.head_sha }}
          echo "commit=$commit" >> $GITHUB_ENV
          echo "instance=clinvar-vcv-ftp-watcher-new" >> $GITHUB_ENV

      - name: deploy vcv new
        run: |
          bash misc/bin/deploy-job.sh

